<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mappers.basketMapper">
  
  	<insert id="insertBasket">
  		insert into basket(id, member_id, product_id) values(#{id}, #{member_id}, #{product_id})
  	</insert>
  	
  	<select id="basketList" resultType="com.itwillbs.domain.ProductDTO">
  		select p.subject, p.img, p.amount
  		from product p join basket b
  		on (p.id = b.product_id)
  		
  	</select>
  
  
  
  </mapper>