<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mappers.FoodMapper">
  
<select id="foodList" resultType="com.itwillbs.domain.FoodDTO">
select * from food order by num desc limit #{startRow},#{pageSize}</select>
  <select id="meatList" resultType="com.itwillbs.domain.FoodDTO">
select * from food where cate=1 order by num desc limit #{startRow},#{pageSize}</select>
<select id="vegetableList" resultType="com.itwillbs.domain.FoodDTO">
select * from food where cate=2 order by num desc limit #{startRow},#{pageSize}</select>
<select id="fruitList" resultType="com.itwillbs.domain.FoodDTO">
select * from food where cate=3 order by num desc limit #{startRow},#{pageSize}</select>
<select id="getMaxNum" resultType="java.lang.Integer">
		select max(num) from board
	</select>
	<select id="getfoodCount" resultType="java.lang.Integer">
		select count(*) from food
	</select>
	<select id="getmeatCount" resultType="java.lang.Integer">
		select count(*) from food where cate=1
	</select>
	<select id="getvegetableCount" resultType="java.lang.Integer">
		select count(*) from food where cate=2
	</select>
	<select id="getfruitCount" resultType="java.lang.Integer">
		select count(*) from food where cate=3
	</select>
	<select id="getMaxNummeat" resultType="java.lang.Integer">
		select max(num) from board where cate=1
	</select>
	<select id="getMaxNumfruit" resultType="java.lang.Integer">
		select max(num) from board where cate=3
	</select>
	<select id="getMaxNumvegetable" resultType="java.lang.Integer">
		select max(num) from board where cate=2
	</select>
  </mapper>