<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mappers.freeboardMapper">
	
	<select id="getBoardList" resultType="com.itwillbs.domain.FreeBoardDTO">
		select f.id, m.name, f.subject, f.content,
		f.readcount, f.date  from freeboard f
		join member m
		on f.member_id=m.id
		order by id desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(id) from freeboard
	</select>
	
	<select id="getBoard" resultType="com.itwillbs.domain.FreeBoardDTO">
		select f.id, m.name, f.subject, f.content,
		f.readcount, f.date  from freeboard f
		join member m
		on f.member_id=m.id where f.id=#{id}
	</select>
	
	<update id="updateReadcount">
		update freeboard set readcount=readcount+1 where id=#{id}
	</update>
	
	<delete id="deleteBoard">
		delete from freeboard where id=#{id}
	</delete>
	
	<insert id="writeBoard">
		insert into freeboard(id,member_id,subject,content,readcount,date) 
		values(#{id},#{member_id},#{subject},#{content},#{readcount},#{date})
	</insert>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(id) from freeboard
	</select>
	
	<select id="getMaxNumComment" resultType="java.lang.Integer">
		select max(id) from freeboard_comment
	</select>
	
	<update id="updateBoard">
		update freeboard set subject=#{subject}, content=#{content} where id=#{id}
	</update>
	
	<insert id="writeComment">
		insert into freeboard_comment(id,member_id,freeboard_id,content,date)
		values(#{id},#{member_id},#{freeboard_id},#{content},#{date})
	</insert>
	
	<select id="getCommentList" resultType="com.itwillbs.domain.FBCommentDTO">
		select f.id, m.name, f.freeboard_id, f.content, f.date 
		from freeboard_comment f 
		join member m
		on f.member_id = m.id
		where f.freeboard_id=#{content_id}
	</select>
	
	<select id="getSearchList" resultType="com.itwillbs.domain.FreeBoardDTO">
		select f.id, m.name, f.subject, f.content,
		f.readcount, f.date  from freeboard f
		join member m
		on f.member_id=m.id
		where f.subject like #{search} order by id desc limit #{startRow},#{pageSize}
	</select>
	
</mapper>