<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.itwillbs.mappers.noticeMapper">

	<insert id="writeBoard">
		insert into notice(id,member_id,subject,content,readcount,date,type) 
		values(#{id},#{member_id},#{subject},#{content},#{readcount},#{date}, #{type})
	</insert>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(id) from notice
	</select>
	
	<select id="getBoardList" resultType="com.itwillbs.domain.NoticeDTO">
		select n.id,  n.member_id, m.name, n.subject, n.content,
		n.readcount, n.date  from notice n
		Join member m
		ON n.member_id = m.id
		order by id desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(id) from notice
	</select>
	
	<select id="getBoard" resultType="com.itwillbs.domain.NoticeDTO">
		select n.id, n.member_id, m.name, n.subject, n.content,
		n.readcount, n.date  from notice n
		JOIN member m
		ON n.member_id = m.id where n.id=#{id}
	</select>
	
	<update id="updateReadcount">
		update notice set readcount=readcount+1 where id=#{id}
	</update>
	
	<update id="updateBoard">
		update notice set subject=#{subject}, content=#{content} where id=#{id}
	</update>
	
	<delete id="deleteBoard">
		delete from notice where id=#{id}
	</delete>
	
	<select id="getBoardListSearch" resultType="com.itwillbs.domain.NoticeDTO">
		select n.id,  n.member_id,  m.name, n.subject, n.content,
		n.readcount, n.date  from notice n
		JOIN member m
		ON n.member_id = m.id
		where n.subject like #{search} order by id desc limit #{startRow},#{pageSize}
	</select>
	
	<select id="getBoardCountSearch" resultType="java.lang.Integer">
		select count(id) from notice  where subject like #{search}
	</select>
	
	<select id="main1" resultType="com.itwillbs.domain.NoticeDTO">
		select *
		from notice
		where type=1 
		and id=(select max(id) from notice where type=1)
	</select>
	
	<select id="main2" resultType="com.itwillbs.domain.NoticeDTO">
		select *
		from notice
		where type=2
		and id=(select max(id) from notice where type=2)
	</select>
	
</mapper>